Research-Proposal.synctex.gz
Research-Proposal.pdf
Research-Proposal.out
Research-Proposal.log
Research-Proposal.fls
Research-Proposal.fdb_latexmk
Research-Proposal.blg
Research-Proposal.bbl
Research-Proposal.aux
